* {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

body {
  margin: 0;
  background-color: rgb(158, 132, 160);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.text button {
  margin: 50px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  width: 205px;
  height: 200px;
  color: rgb(169, 144, 203);
  background-color: rgb(169, 144, 203);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(123, 89, 123);
  border-radius: 10%;

  transition: transform 1s ease 0s;
  opacity: 0;
  animation: ani 2.5s forwards;
}

.text button:hover {
  color: wheat;
  background-color: rgb(169, 144, 203);
  box-shadow: 5px 4px 5px #382131;
  transform: translateY(-10px);
  opacity: 75%;
}
.line {
  margin: 0 auto;
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(158, 115, 173);
  box-shadow: 2px 2px 2px #382131;
  z-index: 900;

  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}

.score {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: wheat;
  z-index: 0;
  /* animation */
  animation: appearingScroe 1s ease 1s 1 normal forwards;
  opacity: 0;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearingScroe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateY(300px);
  }

  to {
    transform: translateY(0);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
